<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   URLs.plist
   Simple-Resume

   Created by Mar Koss on 2020-04-04.
   Copyright (c) 2020 Mar Koss. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
